# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# --- Datos ---
data/ingested/*
data/processed/*
data/rejected/*
data/database/*.db


# --- Herramientas de Sistema y Editores ---
.DS_Store
.vscode/
.idea/
*.swp

